:root {
  --font-size-large: 60px;
  --font-size-medium: 40px;
  --font-size-small: 25px;

  --font-color-purple: rgb(148, 97, 214);
  --font-color-orange: rgb(253, 190, 107);
  --font-color-blue: rgb(93, 190, 255);
  --bg-color-white: #ffffff5e;
  --bg-color-black: rgba(0, 0, 0, 0.788);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
  display: none;
}

/* log-in page */
.login {
  text-align: center;
}

.askName {
  margin-top: 190px;
  font-size: var(--font-size-large);
  text-shadow: 2px 2px 1px white;
}

#im {
  display: inline-block;
  margin-right: 10px;
  text-shadow: 2px 2px 3px white;
}

.inputName {
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.336);
  border-bottom: 1.5px solid white;
  width: 500px;
  font-size: var(--font-size-medium);
  text-align: center;
}

.inputName:focus {
  outline: none;
  line-height: 60px;
}

.enterBtn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.733);
  margin-top: 15px;
  border-radius: 20px;
  font-size: var(--font-size-small);
  font-weight: 600;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
}

.enterBtn:hover {
  background-color: white;
}

/* main page */
hr {
  width: 90%;
  border: none;
  border-top: 1px solid white;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 10fr 0.5fr;
  grid-template-columns: 3fr 4fr 3fr;
}

.home.hidden {
  display: none;
}

.greeting {
  margin-top: 10px;
  margin-left: 30px;
  font-size: var(--font-size-medium);
  grid-row: 1/2;
  grid-column: 1/3;
  font-weight: 700;
  text-shadow: 1.5px 1.5px white;
}

.buttons {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 300px;
}

.button.clicked {
  background-color: black;
}

.button {
  width: 50px;
  height: 50px;
  margin: 20px;
  border: none;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: black;
}

.btnImg {
  margin-top: 4px;
  width: 100%;
  height: 80%;
}

.main {
  grid-row: 2/3;
  grid-column: 2/3;
}

.screen {
  width: 400px;
  height: 100%;
  background-color: var(--bg-color-white);
  color: white;
  /* border: 1.5px solid whitesmoke; */
  box-shadow: 0.5px 0.5px 3px black;
}

.screen__title {
  height: 32px;
  padding-top: 2px;
  display: flex;
  gap: 5px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--bg-color-black);
  text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
}

/* Time */
#timer {
  display: flex;
}

.timer__img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

#clock {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 70px;
  font-weight: 800;
  text-shadow: 3px 3px 3px var(--font-color-orange), -1px -1px 2px red;
}

#timer_time {
  width: 200px;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 40px;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;
}

.timer_btns {
  display: flex;
  margin-top: 25px;
  padding-left: 25px;
  gap: 5px;
}

.timer_btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 2px black;
}

#start img {
  width: 25px;
  height: 25px;
  margin-left: 3px;
  margin-top: 2px;
}

#stop img {
  width: 25px;
  height: 27px;
  margin-top: 3px;
}

.reset {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: red;
  margin: auto;
}

.timer_btn:hover {
  transform: scale(1.05);
}

/* Weather */
#weather h1 {
  text-align: center;
  text-shadow: -1.5px -1.5px 2px var(--font-color-blue),
    1.5px 1.5px 2px var(--font-color-purple);
  margin: 0;
}

.weather_head {
  display: flex;
}

.weather_icon {
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  width: 60px;
  height: 60px;
}

.head_icon {
  margin-left: 40px;
  margin-top: 20px;
  width: 35px;
  height: 35px;
}

.weather_head span {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-shadow: 1px 1px white;
}

.temperature__head {
  background-color: var(--bg-color-black);
  padding-left: 5px;
}

.instruction_icon {
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

h4 {
  margin: 15px 20px;
  color: black;
  text-shadow: 1px 1px white;
}

mark {
  background-color: white;
}

/* Calculator */
.calculator_screen {
  padding-top: 20px;
  padding-left: 20px;
  background-color: transparent;
  box-shadow: none;
}

.calculator__container {
  width: 340px;
  height: 380px;
  padding-top: 17px;
  padding-left: 10px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgb(70, 70, 70);
}
.result__Container {
  width: 280px;
  background-color: white;
  margin-left: 15px;
  padding: 10px 10px 0px 10px;
  height: 70px;
  color: black;
  border-radius: 10px;
}

#result {
  margin-top: 10px;
  text-align: end;
}

.container {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
}

.num {
  width: 60px;
  height: 60px;
  background: orange;
  box-shadow: 1px 1px 1px rgb(255, 88, 88);
  border: none;
  border-radius: 20px;
  margin: 5px;
  font-family: fantasy;
  font-size: 35px;
  font-weight: 900;
}

.operation {
  width: 60px;
  height: 60px;
  background-color: royalblue;
  box-shadow: 1px 1px 1px rgb(111, 0, 255);
  border: none;
  border-radius: 20px;
  margin: 5px;
  font-family: fantasy;
  font-size: 35px;
  font-weight: 900;
  color: aliceblue;
}

#calculate {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 255, 157);
  margin: 5px;
  box-shadow: 1px 1px 1px rgb(16, 75, 57);
  border: none;
  border-radius: 20px;
  font-family: fantasy;
  font-size: 35px;
  font-weight: 900;
}

.container button:active {
  transform: scale(0.9);
}

/* Painter */
.canvas {
  width: 100%;
  height: 380px;
  background-color: white;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#jsRange {
  width: 200px;
  height: 30px;
}

.controls__control button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.paintTool__pen {
  width: 30px;
  height: 30px;
}

#jsMode:hover {
  transform: scale(1.05);
}

#jsMode:active {
  transform: scale(0.9);
}

.controls_colors {
  display: flex;
  gap: 10px;
}

.controls__color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.controls__color:hover {
  transform: scale(1.05);
}

.cur__color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

/* ToDo */
.todo {
  background-color: lightcoral;
  grid-row: 1/3;
  grid-column: 3/4;
  margin-top: 50px;
  margin-right: 30px;
}

.delete_btn {
  background-color: transparent;
  border: none;
}

#quote {
  text-align: end;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 30px;
  grid-row: 3/4;
  grid-column: 1/4;
  font-weight: 700;
  text-shadow: 1px 1px 1px dimgray;
}
