:root {
  --font-size-large: 60px;
  --font-size-medium: 45px;
  --font-size-small: 30px;
}

.hidden {
  display: none;
}

/* log-in page */
.login {
  text-align: center;
}

.askName {
  margin-top: 200px;
  font-size: var(--font-size-large);
}

.inputName {
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid purple;
  width: 500px;
  font-size: var(--font-size-medium);
  text-align: center;
}

.inputName:focus {
  outline: none;
  border-bottom: 1px solid purple;
  width: 500px;
}

.enterBtn {
  margin-top: 15px;
  width: 100px;
  border-radius: 20px;
  font-size: var(--font-size-small);
}

/* main page */
.main {
  display: grid;
  grid-template-rows: 100px 400px auto;
  grid-template-columns: 3fr 4fr 3fr;
  background-color: lightblue;
}

.main.hidden {
  display: none;
}

.greeting {
  margin-left: 50px;
  font-size: var(--font-size-medium);
  grid-row: 1/2;
  grid-column: 1/3;
}

.buttons {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 300px;
}

.button {
  width: 50px;
  height: 50px;
  margin: 20px;
  border: none;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.61);
}

.btnImg {
  margin-top: 4px;
  width: 100%;
  height: 80%;
}

.screen {
  background-color: white;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-top: 20px;
}

.todo {
  background-color: yellow;
  grid-row: 1/3;
  grid-column: 3/4;
}

.quote {
  text-align: end;
  margin-top: 50px;
  margin-right: 30px;
  grid-row: 3/4;
  grid-column: 1/4;
}
